<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuickEDMSeach.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <QuickEDMSeach.MySettings>
            <setting name="LastLoggedOn" serializeAs="String">
                <value>EDM_SEAP</value>
            </setting>
            <setting name="PDFEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SldDrwEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DwgEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModelEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopPos" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LefPos" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAtStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSearchText" serializeAs="String">
                <value>OU650000000</value>
            </setting>
            <setting name="ShowCmdPreview" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickEDMSeach.MySettings>
    </userSettings>
</configuration>
